<!-- Modal -->
<!-- <div class="container"> -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog builder-widget" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Graph Builder</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="container-fluid">

	        <div id="data-source-select" class="row dropdown">
	        	<!-- <h5>Select a Data Source</h5>
				<select name="ds-name" onchange={{action 'getData' value="target.value"}}  class="form-control">
					<option></option>
				{{#each model.datasources as |source|}}
					<option value={{source.url}}>{{source.label}}</option>
				{{/each}}
				</select> -->
				
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Select a Data Source
					    <span class="caret"></span>
					  </button>					  
					  <ul class="dropdown-menu">					  	
					  	{{#each model.datasources as |source|}}
					  		<li {{action 'getData' source}}>
					  			<a href="">{{source.label}}</a>
					  		</li>
					  	{{/each}}	
					  		
					  </ul>
			</div>
			<!-- Uses json-2-table component to table-ize data -->
			
			{{#if showDataSourcePreview}}
			{{partial templates/partials/spinner}}
			<div class="row data-preview animated fadeIn" style="width: 80%; height:150px;overflow:auto; border: 1px solid #ccc;">	
				{{json-2-table displayData=scopeData showVizSelection=showVizSelection}}
			</div>
			{{/if}}

			
				<div class="row">
					<div class="col-md-12">
				  		<div style="margin-top: 20px;">
							<h4>Add Filters to Data Selection (Optional)</h4>
						</div>
					</div>
				</div>
				<button>Add Filter</button>
			

			{{#if showVizSelection}}

			<div class="row">
				<div class="col-md-12">
			  		<div style="margin-top: 20px;">
						<h4>Select a Visualization Type</h4>
					</div>
				</div>
			</div>
			<div class="row graph-library animated fadeIn">
				{{#each graphOptions as |graph|}}
				<div class="col-sm-3 col-md-3 col-lg-2">
				  <a class="thumbnail viz-selection">
					<img data-graph={{graph.id}} src="{{graph.img}}" class="img-responsive" {{action 'showGraphDataModel' graph on='click'}}>
					<hr>
					<h5><strong>{{graph.label}}</strong></h5>
				  </a>
				</div>
				{{/each}}
			</div>			
			{{/if}}
			

			<!-- Show this area when a viz type is selected -->
			{{#if showDataModel}}
			<div class="row animated fadeIn">
				<h4  style="margin-top: 20px;">Specify a data field for each required input</h4>
				
				
				{{#each scopeDataModel as |fieldInput|}}
					<div class="data-model-input">
						<h5>{{fieldInput.label}}:</h5>
							<select name={{fieldInput.name}} onchange={{action 'tryGraphRender' value="target.value" }} class="form-control">
								{{#each-in scopeData.[0] as |colName index|}}
									<option value={{colName}}>{{colName}}</option>
								{{/each-in}}
							</select>
					</div>
				{{/each}}				
				
				
				
			</div>
			{{/if}}

			<!-- Moment of truth... graph time!! -->
			{{#if renderGraph}}
			<div class="row">
				{{component scopeComponent scopeData=scopeData scopeDataModel=scopeDataModel graphConfig=graphConfig}}
			</div>
			{{/if}}				
			
			
	      </div>
	  </div> <!-- model body container -->
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal" {{action 'clearGraphBuilder'}}>Close</button>
	        <button disabled={{disableSave}} {{action 'updateBoardItem'}} type="button" class="btn btn-tola-accent">Save changes</button>
	      </div>
	    </div>
	  </div>
	<!-- </div> -->
</div>
