<!-- Modal -->
<!-- <div class="container"> -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog builder-widget" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Graph Builder</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="container-fluid">
	        <div id="data-source-select" class="row dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Select a Data Source
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					  	{{#each dataSources as |source|}}
					  		<li {{action 'getData' source}}>
					  			<a href="">{{source.label}}</a>
					  		</li>
					  	{{/each}}	
					  		<!-- always show ad-hoc -->
					  		<li><a href="">Ad hoc (not persisted)</a></li>				    
					  </ul>
			</div>
			<!-- Uses json-2-table component to table-ize data -->
			
			{{#if showDataSourcePreview}}
			{{partial templates/partials/spinner}}
			<div class="row data-preview animated fadeIn" style="width: 80%; height:150px;overflow:auto; border: 1px solid #ccc;">	
				{{json-2-table displayData=scopeData showVizSelection=showVizSelection}}
			</div>
			{{/if}}

			{{#if showVizSelection}}

			<div class="row">
				<div class="col-md-12">
			  		<div style="margin-top: 20px;">
						<h4>Select a Visualization Type</h4>
					</div>
				</div>
			</div>
			<div class="row graph-library animated fadeIn">
				{{#each graphOptions as |graph|}}
				<div class="col-sm-3 col-md-3 col-lg-2">
				  <a class="thumbnail viz-selection">
					<img data-graph={{graph.id}} src="{{graph.img}}" class="img-responsive" {{action 'showGraphDataModel' graph on='click'}}>
					<hr>
					<h5><strong>{{graph.label}}</strong></h5>
				  </a>
				</div>
				{{/each}}
			</div>			
			{{/if}}
			

			<!-- Show this area when a viz type is selected -->
			{{#if showDataModel}}
			<div class="animated fadeIn">
				<h4  style="margin-top: 20px;">Specify a data field for each required input</h4>
				
				
				{{#each scopeDataModel as |dataModel|}}  	
				<div class="btn-group">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    {{dataModel.field.label}} <span class="caret"></span>
				 </button>

					<ul class="dropdown-menu field-select">
						<!-- iterate over column names -->
						{{#each-in scopeData.[0] as |colName|}}
							<li {{action 'tryGraphRender' dataModel.field.name colName}}>{{colName}}</li>
						{{/each-in}}
					</ul>
				</div>
				{{/each}}				


				<!-- Moment of truth... graph time!! -->
				{{#if renderGraph}}
					{{component scopeComponent scopeData=scopeData scopeDataModel=scopeDataModel graphConfig=graphConfig}}
				{{/if}}			
			</div>
			{{/if}}
			
			
	      </div>
	  </div> <!-- model body container -->
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button {{action 'saveGraph'}} type="button" class="btn btn-tola-accent">Save changes</button>
	      </div>
	    </div>
	  </div>
	<!-- </div> -->
</div>
